@import url("https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap");

.header-container {
  width: 33.3333%;
  display: flex;
  font-size: 3.125rem;
  align-items: center;
  padding-left: 20px;
}

.header-title {
  text-align: center;
  font-size: 2.25rem;
  text-transform: capitalize;
  margin: 0;
  padding: 20px;
  font-family: "Kaushan Script", cursive;
}
