.shop-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  width: 100%;
}

.category-sorting-container {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-top: 10px;
  align-items: center;
}

.sort-by-label {
  margin-right: 10px;
}

.sort-by {
  font-size: 20px;
  padding: 0;
  height: 40px;
  color: rgba(0, 0, 0, 0.8);
}

.products-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0 100px 0;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.product-img {
  width: 100%;
}

.product-name {
  font-size: 36px;
  margin: 0;
}

.product-price {
  font-size: 26px;
  font-weight: 700;
}

.product-short-desc {
  font-size: 22px;
  margin: 0;
}

.product-button {
  background: darkblue;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 26px;
  padding: 10px;
  margin-top: 30px;
}

.product-button:hover {
  cursor: pointer;
  background: black;
  color: darkblue;
}

.results {
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  color: rgba(0, 0, 0, 0.7);
}

.nav-products-container {
  margin-top: 40px;
}

.nav-products-button {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  border-radius: 5px;
  padding: 10px;
  background: hotpink;
  color: white;
  margin: 0 10px;
}

.page-limit {
  font-size: 30px;
  color: darkblue;
  text-align-last: center;
  padding: 2px 0;
}

@media screen and (min-width: 900px) {
  .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .product-container {
    width: 80%;
  }
}

@media screen and (min-width: 1501px) {
  .products-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
